.m-header{
    @at-root .el-header{
        .m-header.m-header-topbar{
            width: 1190px !important;
            z-index: 9990;
            height: 40px;
            line-height: 40px;
            z-index: 9;
        }
    }
}


.m-geo{
   
}